# /etc/gateway/registry/gwreg.conf
REGISTRY_ROOT="/etc/gateway/registry"
DB_PATH="${REGISTRY_ROOT}/registry.db"

POOL_TENANT_SUPERNET="172.16.0.0/16"
POOL_INSIDE_SUPERNET="172.17.0.0/16"
POOL_LOOPBACK_SUPERNET="147.225.19.0/23"
POOL_TUNNEL_SUPERNET="192.168.248.0/21"

VLAN_MIN="200"
VLAN_MAX="399"
VNI_MIN="20000"
VNI_MAX="20999"
VRF_PREFIX="tnt"

TENANT_FWDPROXY_OFFSET="1"
TENANT_PORTAL_OFFSET="2"
TENANT_DNS_OFFSET="3"

DEFAULT_PLACEMENT="balanced"
DEFAULT_BACKUP_STRATEGY="next"
